.container {
    height: 200vh;
    width: 200vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px auto;
  }
  .border {
    height: 369px;
    width: 890px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  }
  .border:hover {
    border: 1px solid #fff;
  }
  .card {
    height: 379px;
    width: 900px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card0 {
    background: url("https://i2.wp.com/jazzinphoto.files.wordpress.com/2014/05/jimi-hendrix-new-york-1968-photo-linda-mccartney.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card0:hover {
    background: url("https://i2.wp.com/jazzinphoto.files.wordpress.com/2014/05/jimi-hendrix-new-york-1968-photo-linda-mccartney.jpg") left center no-repeat;
    background-size: 450px;
  }
  .card0:hover h2 {
    opacity: 1;
  }
  .card0:hover .fa {
    opacity: 1;
  }
  .card1 {
    background: url("https://www.gannett-cdn.com/-mm-/ae811a38ccb7ca7681c5cd9edc7e0bae36516e06/c=261-0-2174-2550/local/-/media/2015/10/08/Phoenix/Phoenix/635799268539755113-ae-lennon09e.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card1:hover {
    background: url("https://www.gannett-cdn.com/-mm-/ae811a38ccb7ca7681c5cd9edc7e0bae36516e06/c=261-0-2174-2550/local/-/media/2015/10/08/Phoenix/Phoenix/635799268539755113-ae-lennon09e.jpg") left center no-repeat;
    background-size: 400px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  .card2 {
    background: url("https://i.pinimg.com/originals/b7/31/fc/b731fcfbda37d39a7f03600730779448.jpg") center center no-repeat;
    background-size: 320px;
  }
  .card2:hover {
    background: url("https://i.pinimg.com/originals/b7/31/fc/b731fcfbda37d39a7f03600730779448.jpg") left center no-repeat;
    background-size: 400px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }

  .card3 {
    background: url("https://i.pinimg.com/originals/11/46/3c/11463c25753c12403d7b5c3ddd5b2636.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card3:hover {
    background: url("https://i.pinimg.com/originals/11/46/3c/11463c25753c12403d7b5c3ddd5b2636.jpg") left center no-repeat;
    background-size: 350px;
  }
  .card3:hover h2 {
    opacity: 1;
  }
  .card3:hover .fa {
    opacity: 1;
  }

  .card4 {
    background: url("https://collectionimages.npg.org.uk/large/mw286221/James-Patrick-Jimmy-Page.jpg") center center no-repeat;
    background-size: 400px;
  }
  .card4:hover {
    background: url("https://collectionimages.npg.org.uk/large/mw286221/James-Patrick-Jimmy-Page.jpg") left center no-repeat;
    background-size: 500px;
  }
  .card4:hover h2 {
    opacity: 1;
  }
  .card4:hover .fa {
    opacity: 1;
  }

  .card5 {
    background: url("https://cdn.thebeat.online/art/93/0c/e6/1d/1de60c936683320769a1bfb6fba7f75902859085.jpg") center center no-repeat;
    background-size: 400px;
  }
  .card5:hover {
    background: url("https://cdn.thebeat.online/art/93/0c/e6/1d/1de60c936683320769a1bfb6fba7f75902859085.jpg") left center no-repeat;
    background-size: 430px;
  }
  .card5:hover h2 {
    opacity: 1;
  }
  .card5:hover .fa {
    opacity: 1;
  }

  .mid-size{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:50px; text-align: center; color: coral;}
  
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .icons {
    position: absolute;
    fill: black;
    color: black;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

